.market-title-container{
    justify-content: center;
    align-items: center;
}

.file-upload{
    justify-content: center;
    align-items: center;
}

.market{
    justify-content: center;
    align-items: center;
}