/* StepperComponent.css */
.stepperContainer {
    width: 85%;
    margin: 0 auto; /* Centers the stepper in the parent container */
    margin-top: 50px;
    margin-bottom: 30px;

  }
  
  /* Style for the MUI Stepper component */
  .MuiStepIcon-active { /* Styles for active icons */
    color: green; /* Highlight color for the current active step */
  }

.MuiStepIcon-root { /* Targeting the icons in the stepper */
  color: #ccc; /* Color of non-active icons */
  width: 40px!important; /* Increasing the size of the icons */
  height: 40px!important; /* Increasing the size of the icons */
  /* Adjust color and size according to your design */
}
  
  .MuiStepConnector-line {
    border-top-width: 1.5px; /* Makes the line thicker */
  }

  .MuiStepLabel-label {
    font-size: 14px !important;/* Increasing the font size */
  }
  
  /* Styles for the label when the step is active */
  .MuiStepLabel-active {
    color: #0056b3; /* Change color for active label */
    font-weight: bold; /* Bold for active step labels */
  }
  
  /* Styles for the label when the step is completed */
  .MuiStepLabel-completed {
    color: #4caf50; /* Color indicating completion */
  }