/* MarketStepper.css */
.stepper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;  /* Ensure there's space around the stepper */
  }
  
  .steps {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the steps horizontally */
  }
  
  .step-container {
    display: flex;
    align-items: center; /* Align items in a flex row correctly */
    position: relative; /* Needed for absolute positioning of lines */
  }
  
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width:90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ccc; /* Default non-active color */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 50px; /* Space around circles */
    transition: background-color 0.3s;
  }
  
  .step.active {
    background-color: #007bff; /* Blue for active step */
  }
  
  .step-line {
    position: absolute; /* Position lines absolute within container */
    top: 50%; /* Center vertically */
    left: 60px; /* Start after the circle */
    height: 2px;
    width: 190px; /* Length of the line */
    background-color: #ccc;
    z-index: -1; /* Ensure lines don't overlap text or interactive elements */
  }
  
  .step-title {
    position: absolute;
    top: 110px; /* Position below the circle */
    right: 18px;
    text-align: center;
    font-size: 14px;
    color: #333;
    width: 120px; /* Ensure the text doesn't spread too wide */
  }
  
  .stepper-content {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  