.recommendationCard {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
  }
  
  .recommendationHeader {
    margin-bottom: 1rem;
  }
  
  .recommendationBody {
    margin-bottom: 1rem;
  }
  
  .recommendationBody p {
    margin-bottom: 0.5rem;
  }
  
  .recommendationBody strong {
    font-weight: bold;
  }
  