/* Container to wrap cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

/* Card styling */
.card {
  flex: 1 1 23%; /* Each card takes up roughly a fourth of the container */
  max-width: 23%; /* Prevents cards from stretching too wide */
  margin: 10px;
  border: 2px solid #ededed;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 400px;
  box-sizing: border-box; /* Ensures padding is included in width */
  background-color: white;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.card-img {
  width: 100%;              /* Ensures image spans the full width of the container */
  height: 300px;            /* Set a fixed height for consistency */
  object-fit: cover;        /* Keeps the image's aspect ratio while filling the container */
  border-radius: 8px;       /* Optional: adds rounded corners to the image */
}


.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card-vendor {
  font-style: italic;
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 80px;
}

.bag {
  height: 40px;
  width: 98%;
  background-color: #bebfe8;
  color: #535353;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1px;
  bottom: 10px;
  cursor: pointer;
}

.bag:hover {
  background-color: #5356cf;
  color: white;
}

.bag-icon {
  color: #535353;
  margin-left: 10px;
}

.bag:hover .bag-icon {
  color: white;
}

.quantity-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
}

.quantity-picker input[type="number"] {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
}

.price {
  font-size: 1.1rem;
  color: #2d87f0;
  font-weight: 550;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  margin: 0 auto;
}
