.listings-container{
    margin-left: 50px;
    margin-right: 50px;
}
.market-title-container{
}

.market-stepper-container{
    margin-top: 30px;
}

.market-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items to the bottom */
    width: 98%;
    gap: 15px; /* Optional: adds space between components */
}

/* Ensure a consistent height for each child component */
.search-bar input { /* if Sortbar has a specific class, replace .sort-bar */
    height: 40px; /* Adjust height as needed */
    padding: 5px 10px;
    margin-top: 30px;
}

.market-search-container > div:nth-child(2) {
    margin-top: 0px; /* Only targets the second child in the container */
    margin-right: 20px;
}

.market-search-container > div:nth-child(3) {
    margin-top: 40px; /* Only targets the third child in the container */
    margin-right: 20px;
}

.market-search-container > * {
    min-width: 100px; /* Adjust this value to control the spacing */
}

.continue-button{
    justify-content: flex-end;
    display: flex;
    margin-right: 40px;
    margin-bottom: 40px;
}

.rest {
    background-color: #f0f0f0;;
    overflow: hidden;
}